<div id="bookings">
  <div class="booking-form">
    <h1>New Booking</h1>
    <div class="create-join-container">
      <button class="create-team-btn"><%= link_to "Create Team", new_team_path, id: "link-team" %></button>
      <button id="hidden-btn" class="join-team-btn">Join a Team</button>
    </div>

      <%= simple_form_for [ @tournament, @booking ] do |f| %>

        <%= f.association :team ,label: false,:required => false%>

      <%= f.button :submit,  "Book", class:"btn-booking" %>

    <% end %>
    <%= link_to tournament_path(@tournament) do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>

  </div>
</div>



