<% tournaments.each.with_index do |tournament,index| %>
    <div class = "card1 tournament <%="active" if index == 0 %>
      <%= current_user.is_manager?(tournament) ? 'manager-card' : 'player-card' %>"
      id="<%= tournament.name  %>"
      data-latitude = "<%= tournament.latitude %>"
      data-longitude = "<%= tournament.longitude %>">
        <div class="card-first-column">
          <h1 style="font-size: 46px;"><%= tournament.name %></h1>
          <h2><%= truncate(tournament.description, :length => 80, :omission => "" , :escape => false) %></h2>
        </div>

        <div class="card-second-column">
          <div>
            <h2>start_ <%= tournament.start_time.strftime("%d.%m") %></h2>
            <h2>end_ <%= tournament.end_time.strftime("%d.%m") %></h2>
          </div>
          <% if  !current_user.is_manager?(tournament) && index %>
            <%= link_to "Show", tournament_path(tournament), class: "btn btn-primary" %>
          <% end %>
        </div>
      <div class="card-third-column">
        <div>
          <h2>price_ <%= tournament.price %>€</h2>
          <h2>where_ <%= tournament.location %></h2>
        </div>
          <% if current_user.is_manager?(tournament) %>
            <%= link_to "Manage", tournament_path(tournament), class: "btn btn-primary" %>
          <% elsif !index %>
              <%= link_to "Show", tournament_path(tournament), class: "btn btn-primary" %>
          <% else %>
            <%= link_to "Book", new_tournament_booking_path(tournament), class: 'btn btn-success' %>
        <% end %>

        <%# if current_user.has_team? %>
        <%# else %>
          <!-- <button onclick="createTeam()">Book</button> -->
        <%# end %>
      </div>

    </div>
<% end %>
