<div class="container">
  <div class="row justify-content-center">
    <div class="card col-md-8" style="text-align: center; padding: 20px 20px;">
      <br>
      <h1>New Tournament</h1>
      <br>
      <%= simple_form_for(tournament) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :number_of_teams %>
        <%= f.input :number_of_players_per_team %>
        <%= f.input :price %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.button :submit, "Create Tournament", class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= link_to 'Back', teams_path, class: "back-button" %>
    </div>
  </div>
</div>
