<h1>Tournaments#index</h1>
<p>Find me in app/views/tournaments/index.html.erb</p>

<% @tournaments.each do |tournament| %>
  <p><%= tournament.name %></p>
  <%= link_to "Show Tournament", tournament_path(tournament), class: "btn btn-primary" %>
 <% if current_user.has_team? %>
  <%= link_to "Book", new_tournament_booking_path(tournament), class: 'btn btn-success' %>
 <% else %>
  <button onclick="createTeam()">Book</button>
 <% end %>

 <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% end %>

<script type="text/javascript">
  function createTeam() {
  alert("In order to book a tournament you have to create a team first!");
}
</script>
