
<div class="title">
  <h1>Tournaments</h1>
</div>
  <div class = "container">
    <div class = "card">
      <% @tournaments.each.with_index do |tournament,index| %>
        <section class = "tournament <%="active" if index == 0 %>" id="<%= tournament.name  %>"
                 data-latitude = "<%= tournament.latitude %>"
                 data-longitude = "<%= tournament.longitude %>">
                <h3><%= tournament.name %></h3>
                <p><%=  tournament.description%></p>
                <%= link_to "Show Tournament", tournament_path(tournament), class: "btn btn-primary" %>
                <% if current_user.has_team? %>
                  <%= link_to "Book", new_tournament_booking_path(tournament), class: 'btn btn-success' %>
                <% else %>
                  <button onclick="createTeam()">Book</button>
                <% end %>
        </section>
        <% end %>
    </div>
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
<script type="text/javascript">
  function createTeam() {
  alert("In order to book a tournament you have to create a team first!");
}
</script>

