<div class="index-tournaments">


  <div class="title">
    <h1>Tournaments</h1>
  </div>

  <div class="search-bar">
    <%= simple_form_for :search, html: { class: 'form-inline' },wrapper: :horizontal_form, :method => :get  do |f| %>
    <%= f.input :address, label: 'Type the address please' %>
    <%= f.input :start_time, placeholder: 'Starting date', input_html: { id: "flatpickr_start" }  %>
    <%= f.input :end_time, placeholder: 'Ending date', input_html: { id: "flatpickr_end" }  %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>


  <div class="wrapper-index-tournaments">
    <div class="left-part">
       <%= render partial: "card_index", tournaments: @tournaments %>
    </div>

    <div class="right-part">

      <%= render "map_index", tournaments: @tournaments %>

    </div>

  </div>

<script type="text/javascript">
  function createTeam() {
    alert("In order to book a tournament you have to create a team first!");
  }
</script>
