<h1>Tournaments#new</h1>
<p>Find me in app/views/tournaments/new.html.erb</p>
<%= form_for(@tournament) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.label :number_of_teams %>
  <%= f.number_field :number_of_teams %>
  <%= f.label :number_of_players_per_team %>
  <%= f.number_field :number_of_players_per_team %>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <%= f.submit %>
<% end %>
