<div class="show-started">
  <div class="match-schedule">
    <% @tournament.matchdays.each do |matchday| %>
      <div class="" style="width: 60vw; margin: 0 auto;" id="matchday">
      <h2>Matchday Number: <%= matchday.number %></h2>

        <% matchday.games.each do |game| %>
          <%= link_to tournament_game_path(@tournament, game) do %>
            <div class="show-started-card" id="game">
              <p><%= game.home_team.name %></p>
              <%= render partial: 'game_result', locals: {game: game} %>
              <p style="text-align: right;"><%= game.away_team.name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="ranking">
    <h2>Standings</h2>
    <%= render partial: 'ranking' %>
  </div>
</div>
