<h1>Tournaments#show</h1>
<p>Find me in app/views/tournaments/show.html.erb</p>

<h2><%= @tournament.name %></h2>
<p><%= @tournament.description %></p>
<p><%= @tournament.location %></p>
<p><%= @tournament.number_of_teams %></p>
<p><%= @tournament.number_of_players_per_team %></p>ù
<p><%= @tournament.price %></p>

