<% @tournaments.each do |tournament| %>
  <h1><%= tournament.name %></h1>
  <h1><%= tournament.description %></h1>
  <h1><%= tournament.location %></h1>
  <h1><%= tournament.number_of_teams %></h1>
  <h1><%= tournament.number_of_players_per_team %></h1>
  <h1><%= tournament.start_time %></h1>
  <h1><%= tournament.end_time %></h1>
  <h1><%= tournament.price %></h1>
  <%= link_to "Edit", edit_user_tournament_path(tournament), class: 'btn btn-secondary' %>
<% end %>
