
  <% tournaments.each do |tournament| %>
    <% if current_user.is_manager?(tournament) %>
      <div class="card-info" style="margin-top: 10px;">
        <div class="right-text" style="">
          <%= link_to  tournament.name, tournament_path(tournament), style: "font-size: 24px; text-align: left; color: #C7EAF5;" %>
          <h2 style="font-size: 18px; text-align: left; color: #C7EAF5;"><%= tournament.description %></h2>
        </div>

      </div>
    <% else %>
        <%= link_to tournament_path(tournament) do %>
      <div class="card-info-2" style="margin-top: 10px;">
        <h1 style="font-size: 24px; text-align: left; color: #C7EAF5;"><%= tournament.name %></h1>
        <h2 style="font-size: 18px; text-align: left; color: #C7EAF5;"><%= tournament.description %></h2>
      </div>
      <% end %>
      <% end %>
  <% end %>


