<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../../javascript/components/tabs.js" defer></script>
<div class="wrapper">
  <h1 style="text-align: center; font-weight: bold;">My Profile</h1>
  <div class="">
    <div class="">
      <div class="card-info-top col-md-12" style="text-align: center;">
        <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
        <p style="color: white;">Email: <%= current_user.email %></p>
      </div>
    </div>

      <div class="bottom-box">
        <div class="left-box" style="margin-right: 20px;">
          <h1 style="padding-bottom: 9px;">Managing</h1>
          <%= render partial: "pages/personal_tournaments", locals: { tournaments: current_user.tournaments } %>
        </div>
        <div class="right-box">
          <div class="tabs">

            <h1 data-tab-target="#tournaments" class="tab active" style="font-weight: normal;">Tournaments</h1>

            <h1 data-tab-target="#teams" class="tab" style="font-weight: normal;">Teams</h1>

            <h1 data-tab-target="#personal-info" class="tab" style="font-weight: normal;">Personal Info</h1>

          </div>

          <div class="tab-content">
            <div id="tournaments" data-tab-content>
              <%= render partial: "pages/personal_tournaments", locals: { tournaments: current_user.player_tournaments } %>
            </div>
            <div id="teams" data-tab-content>
              <%= render partial: "pages/personal_teams", locals: { teams: current_user.player_teams } %>
            </div>
            <div id="personal-info" data-tab-content class="active">

            </div>
          </div>
        </div>
      </div>
  </div>
</div>
