<div class="one-more-thing" >
  <!-- <h2>games</h2> -->
  <div class="">
      <h2>the Team</h2>
      <div class="team">
        <div class="member">
          <p>Michele Comolli</p>
          <%= image_tag "le-wagon-photos/2.png", width: 100, class: "style_image" %>
          <div class="member-links">
            <a href="mailto:mikicomolli@gmail.com" class="fas fa-envelope"></a>
            <a href="https://www.linkedin.com/in/michele-comolli-5203a886/" class="fab fa-linkedin" target="_blank"></a>
            <a href="https://github.com/piranha73" class="fab fa-github" target="_blank"></a>
          </div>
        </div>
        <div class="member">
          <p>Michael Tung</p>
          <%= image_tag "le-wagon-photos/8.png", width: 100, class: "style_image" %>
          <div class="member-links">
            <a href="mailto:michaeltungucl@gmail.com" class="fas fa-envelope"></a>
            <a href="https://www.linkedin.com/in/michael-tung-659b44bb/" class="fab fa-linkedin" target="_blank"></a>
            <a href="https://github.com/michaeltungucl" class="fab fa-github" target="_blank"></a>
          </div>
        </div>
        <div class="member">
          <p>Giacomo Bonomelli</p>
          <%= image_tag "le-wagon-photos/6.png", width: 100, class: "style_image" %>
          <div class="member-links">
            <a href="mailto:gbonomelli483@gmail.com" class="fas fa-envelope"></a>
            <a href="https://www.linkedin.com/in/giacomo-bonomelli-333b24121/" class="fab fa-linkedin" target="_blank"></a>
            <a href="https://github.com/GiacomoBonomelli" class="fab fa-github" target="_blank"></a>
          </div>
        </div>
        <div class="member">
          <p>Yassine Chaqroun</p>
          <%= image_tag "le-wagon-photos/yassine.png", width: 100, class: "style_image" %>
          <div class="member-links">
            <a href="mailto:yassine.chaqroun467@gmail.com" class="fas fa-envelope"></a>
            <a href="https://www.linkedin.com/in/yassine-chaqroun-076ab112b/" class="fab fa-linkedin" target="_blank"></a>
            <a href="https://github.com/YCHQR" class="fab fa-github" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
  <div class="panel-info">
    <div class="left-panel-info off">
      <h3>more sports</h3>
      <div>
        <i class="fas fa-tennis-ball"></i>
        <i class="fas fa-basketball-ball"></i>
        <i class="fas fa-baseball-ball"></i>
        <i class="fas fa-volleyball-ball"></i>
        <i class="fas fa-table-tennis"></i>
        <i class="fas fa-quidditch"></i>
      </div>
    </div>
    <div class="center-panel-info off">
      <h3>structure of tournaments</h3>
      <p>single elimination</p>
      <p>double elimination</p>
      <p>best of 3</p>
      <p>bost of 5</p>
    </div>
    <div class="right-panel-info off">
      <h3>e-games</h3>
      <div>
        <%= image_tag "e_game_logos/hearthstone", width: 100 %>
        <%= image_tag "e_game_logos/lol", width: 100 %>
        <%= image_tag "e_game_logos/counter_strike", width: 100 %>
        <%= image_tag "e_game_logos/star_craft", width: 100 %>
        <%= image_tag "e_game_logos/fortnite", width: 100 %>
        <%= image_tag "e_game_logos/valorant", width: 100 %>
        <%= image_tag "e_game_logos/mario_kart", width: 100 %>
        <%= image_tag "e_game_logos/fifa", width: 100 %>
        <%= image_tag "e_game_logos/nba", width: 100 %>
        <%= image_tag "e_game_logos/formula1", width: 100 %>
      </div>
    </div>
  </div>

  <div class="panel-info2">
    <div class="panel off">
      <h2>gamification</h2>
      <p>personal achievements</p>
      <p>follow your friends</p>
      <p>dynamic display</p>
    </div>

    <div class="panel off">
      <h2>wearable integration</h2>
      <div class="wearable">
        <p>apple</p>
        <p>fitbit</p>
        <p>samsung</p>
        <%#= image_tag "wearable-integration/fitbit", width: 100 %>
        <%#= image_tag "wearable-integration/apple", width: 50, class: "apple_image" %>
        <%#= image_tag "wearable-integration/samsung", width: 100 %>
      </div>
    </div>

  </div>
<div class="btn btn-warning more">One More Thing</div>


</div>
