<div id="one_more_thing" >

  <div class="panel-info">
    <h2>games</h2>
    <div class="left-panel-info">
      <h3>sports</h3>
      <div>
        <i class="fas fa-tennis-ball"></i>
        <i class="fas fa-basketball-ball"></i>
        <i class="fas fa-baseball-ball"></i>
        <i class="fas fa-volleyball-ball"></i>
        <i class="fas fa-table-tennis"></i>
        <i class="fas fa-quidditch"></i>
      </div>
    </div>
    <div class="center-panel-info">
      <h3>structure of tournaments</h3>
      <p>single elimination</p>
      <p>double elimination</p>
      <p>best of 3</p>
      <p>bost of 5</p>
    </div>
    <div class="right-panel-info">
      <h3>e-games</h3>
      <div>
        <%= image_tag("e_game_logos/hearthstone") %>
        <%= image_tag("e_game_logos/lol") %>
        <%= image_tag("e_game_logos/counter_strike") %>
        <%= image_tag("e_game_logos/star_craft") %>
        <%= image_tag("e_game_logos/fortnite") %>
        <%= image_tag("e_game_logos/valorant") %>
        <%= image_tag("e_game_logos/mario_kart") %>
        <%= image_tag("e_game_logos/fifa") %>
        <%= image_tag("e_game_logos/nba") %>
        <%= image_tag("e_game_logos/formula1") %>
      </div>
    </div>
  </div>

  <div class="panel-info">
    <h2>gamification</h2>
  </div>
  <div class="panel-info">
    <h2>wearable integration</h2>
  </div>

  <div class="panel-info">
    <h2>contact us</h2>
  </div>

</div>
