<div class = "game-show">
  <%= render partial: 'games/game_header' %>

  <div style="display: flex; flex-direction: column; align-items: center;">
    <h1>game over</h1>
  </div>

  <div id="highlights">
    <div class="home-team">
      <%= render partial: 'games/highlights', locals: { team: @home_team } %>
    </div>
    <div class="actions" style="text-align: center;">
      <p style="font-weight: bold;">Actions</p>
    </div>
    <div class="away-team" style="text-align: right;">
      <%= render partial: 'games/highlights', locals: { team: @away_team } %>
    </div>
  </div>


  <h1 style="text-align: center;">team stats</h1>
  <div id="team-stats">
    <div class="home-team">
      <%= render partial: 'games/team_highlights', locals: { team: @home_team, game: @game.id } %>
    </div>
    <div class="actions">
      <% Action.all.each do |action| %>
        <p><%= action.name %></p>
      <% end %>
    </div>
    <div class="away-team">
      <%= render partial: 'games/team_highlights', locals: { team: @away_team, game: @game.id } %>
    </div>
  </div>
  <div style="text-align: center">
     <%= link_to tournament_path(@tournament) do %>
      <i class="fas fa-angle-left"></i>
      <p> tournament </p>
    <% end %>
  </div>
</div>
