<div class="game-show">
  <div id="game-show-header">

    <div class="home-team">
      <h1> <%= @home_team.name %> </h1>
    </div>
    <div class="result">
      <h1 style="margin-left: 64px;"> <%=  @home_team.action_in_game(Action.first, @game) %> - <%= @away_team.action_in_game(Action.first, @game) %></h1>

    </div>
    <div class="away-team">
      <h1> <%= @away_team.name %> </h1>
    </div>
  </div>

  <% if current_user.is_manager?(@tournament) %>
    <%= render partial: 'games/manager_actions' %>
  <% end %>

  <div id="highlights">
    <div class="home-team">
      <%= render partial: 'games/highlights', locals: { team: @home_team } %>
    </div>
    <div class="actions">
      <p>action</p>
    </div>
    <div class="away-team">
      <%= render partial: 'games/highlights', locals: { team: @away_team } %>
    </div>
  </div>

  <div id="team-stats">
    <div class="home-team">
      <%= render partial: 'games/team_highlights', locals: { team: @home_team, game: @game.id } %>
    </div>
    <div class="actions">
      <% Action.all.each do |action| %>
        <p><%= action.name %></p>
      <% end %>
    </div>
    <div class="away-team">
      <%= render partial: 'games/team_highlights', locals: { team: @away_team, game: @game.id } %>
    </div>
  </div>
</div>
