<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="game-show">
  <%=  render partial: 'games/game_header' %>
  <div style="display: flex; flex-direction: column; justify-content: center;">
    <div style="margin: 1% auto; color: white;">
      <span id="minutes"><%= @game.mins %></span>:<span id="seconds"><%= @game.secs %></span>
    </div>
    <div style="margin: 1% auto;">
      <%= link_to "end game", tournament_game_finish_path(@tournament, @game), method: :patch%>
    </div>
  </div>
  <% if current_user.is_manager?(@tournament) %>
    <%= render partial: 'games/manager_actions' %>
  <% end %>

  <div id="highlights">
    <div class="home-team">
      <%= render partial: 'games/highlights', locals: { team: @home_team } %>
    </div>
    <div class="actions" style="text-align: center;">
      <p style="font-weight: bold;">Actions</p>
    </div>
    <div class="away-team" style="text-align: right;">
      <%= render partial: 'games/highlights', locals: { team: @away_team } %>
    </div>
  </div>


  <h1 style="text-align: center;">team stats</h1>
  <div id="team-stats">
    <div class="home-team">
      <%= render partial: 'games/team_highlights', locals: { team: @home_team, game: @game.id } %>
    </div>
    <div class="actions">
      <% Action.all.each do |action| %>
        <p><%= action.name %></p>
      <% end %>
    </div>
    <div class="away-team">
      <%= render partial: 'games/team_highlights', locals: { team: @away_team, game: @game.id } %>
    </div>
  </div>

  <div style="text-align: center;">
    <%= link_to tournament_path(@tournament) do %>
        <i class="fas fa-angle-left"></i>
        <p> tournament </p>
    <% end %>
  </div>
</div>

<script>
  var sec = <%= @game.seconds_passed %> ;
  console.log(sec)
    function pad ( val ) { return val > 9 ? val : "0" + val; }
    setInterval( function(){
        $("#seconds").html(pad(++sec%60));
        $("#minutes").html(pad(parseInt(sec/60,10)));
    }, 1000);
</script>
