<div class="wrapper-login-form">
  <div id="login-title">
    <h2>Log in</h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  label: false, wrapper_html: { class: 'fas fa-envelope' },
                  input_html: {id:"login-email",autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  label: false, wrapper_html: { class: 'fas fa-lock' },
                  input_html: { id:"login-password",autocomplete: "current-password" } %>
      <%= f.input :remember_me, label: "Remember Me",wrapper_html: { id:"remember-me"},as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in",class:"btn btn-primary"%>
    </div>
  <% end %>
  <div id="links-actions">
    <%= render "devise/shared/links" %>
  </div>
</div>
